if events.length
  ul
    each event in events
      li.event
        h3(data-category='#{event.category}') #{event.title}
        - var readable_date = moment(event.datetime).format('dddd, MMMM Do - h:mm a')
        p #{event.description}
        p
          em.date #{readable_date}
          a.location(href='https://www.openstreetmap.org/search?query=#{event.location.address}, #{event.location.city} #{event.location.state}, #{event.location.zip}') #{event.location.address}
else
  p There are no upcoming events. Check back soon!
